<h2>Filter Tasks:</h2>
<form action="/" method="GET">
   <input type="text" name="titleQ" placeholder="Search by Title">
   <input type="text" name="tagQ" placeholder="Search by Tag">
    <input type="submit" value="Search"> <input type="reset" value="Clear All" onclick="window.location.href='/'">
</form>
<h2>My Tasks:</h2>
<table>
    <thead>
        <tr>
            <th>Pinned</th>
            <th>Progress</th>
            <th>Title</th>
            <th>
                Due Date 
                <a href="/?sort-by=due-date&sort-order=asc">⬆️</a> 
                <a href="/?sort-by=due-date&sort-order=desc">⬇️</a>
             </th>
            <th>
                Priority
                <a href="/?sort-by=priority&sort-order=asc">⬆️</a> 
                <a href="/?sort-by=priority&sort-order=desc">⬇️</a>
                </th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
        <tr>
            <td>
                {{#if this.pinned}}
                    📌
                {{/if}}
            </td>
            <td>{{this.progress}}</td>
            <td>{{this.title}}</td>
            <td>{{this.due-date}}</td>
            <td>{{this.priority}}</td>
            <td>
                {{#each this.tags}}
                    <span class="tag">{{this}}</span>
                {{/each}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
